<!DOCTYPE html>
<html>

<head>

    <title>Daily Activities</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="daily-log-page">

    <div class="page">

        <div class="page-header">

            <h1 id="dateTitle"></h1>

            <button type="button" class="logout-button" onclick="logout()">
                Log Out
            </button>

            <button type="button" class="account-button" onclick="account()">
                Account
            </button>

            <div class="date-controls">

                <div class="date-row">

                    <label for="datePicker">
                        Change Date:
                    </label>

                    <input type="date" id="datePicker">

                    <button type="Button" onclick="viewCalendarYear()">
                        View Calendar Year
                    </button>

                    <button type="button" onclick="dataVisualizations()">
                        View Graphs
                    </button>

                </div>

            </div>

            <div class="create-buttons">

                <button type="Button" onclick="createHealthLog()">
                    Create Health Log
                </button>

                <button type="Button" onclick="createActivity()">
                    Create Activity
                </button>

            </div>

        </div>

        <div class="log-grid">

            <section>

                <h2>Health Log</h2>

                <div class="module" id="health"></div>

            </section>

            <section>

                <h2>Activity Log</h2>

                <div class="module" id="activities"></div>

            </section>

        </div>

    </div>


    <script>

        // Remove the item labeled "access_token" from 
        // the user's browser and navigate to the login page
        function logout() {
            localStorage.removeItem("access_token");
            window.location.href = "/";
        }

        function account() {
            window.location.href = "/account";
        }

        // Set token equal to the item labeled "access_token" stored in the browser
        // If token is None, redirect to the login page and return headers as empty
        // Otherwise, return the header "Authorization": `Bearer ${token}` which tells
        // the server the credential provided is a bearer access token
        function authHeaders() {
            const token = localStorage.getItem("access_token");

            if (!token) {
                window.location.href = "/";
                return {};
            }

            return {
                "Authorization": `Bearer ${token}`
            };
        }

        // Take the path, split it into pieces by /, then set det equal
        // to the last piece
        const date = window.location.pathname.split("/").pop();

        const datePicker = document.getElementById("datePicker");

        // Set the default date in the date picker to the 'date' variable
        datePicker.value = date;

        // When the date is changed on the datePicker object, run this function
        // The function redirects 
        // this.value is the value stored in the datePicker variable
        datePicker.onchange = function () {
            window.location.href = `/calendar/${this.value}`;
        };

        // redirect to the calendar page
        function viewCalendarYear() {
            window.location.href = `/calendar`
        }

        // redirect to the data visualization page
        function dataVisualizations() {
            window.location.href = `/data-visualizations`
        }

        // Set the title of the page
        document.getElementById("dateTitle").textContent =
            `Daily Log For ${date}`;

        // async function allows use of await inside the function
        async function loadActivities() {

            // Send a request to the function which requires activity_date
            // and verification of the current user
            // If user is authorized, set response equal to the received response
            const response = await fetch(`/activity/date/${date}`, {
                headers: authHeaders()
            });

            // Set list equal to the html object with id "activities"
            const list = document.getElementById("activities");

            // Remove all html from within list
            list.innerHTML = "";

            // If user is authorized, but there is a problem with response, 
            // set the html of list as could not load activities
            if (!response.ok) {
                list.innerHTML = `<p>Could not load activities.</p>`;
                return;
            }

            // If response has no problems, set activities equal to the
            // jsonified version of response
            const activities = await response.json();

            // If activities does not contain anything, set the html in list
            // to no activities logged on this day
            if (activities.length === 0) {
                list.innerHTML = `<p>No activities logged on this day.</p>`;
                return;
            }

            // For each activity in activities, do the following...
            for (const activity of activities) {

                // Set details to be an empty string
                let details = "";

                // If the activity category is running, send a request to 
                // /running/${activity.id} and set response equal to the request
                // response.  
                if (activity.category === "Running") {
                    const response = await fetch(`/running/${activity.id}`, {
                        headers: authHeaders()
                    });

                    // If the user is authorized, then set run equal to the 
                    // jsonified version of response
                    const run = await response.json();

                    // Replace the empty string details with the following:
                    details = `
                    <p><strong>Distance:</strong> ${run.distance} miles</p>
                    <p><strong>Pace:</strong> ${formatTime(run.pace)} / mile</p>
                `;

                }

                else if (activity.category === "Walking") {
                    const response = await fetch(`/walking/${activity.id}`, {
                        headers: authHeaders()
                    });

                    const walk = await response.json();

                    details = `
                    <p><strong>Distance:</strong> ${walk.distance} miles</p>
                    <p><strong>Pace:</strong> ${formatTime(walk.pace)} / mile</p>
                `;

                }

                else if (activity.category === "Cycling") {
                    const response = await fetch(`/cycling/${activity.id}`, {
                        headers: authHeaders()
                    });

                    const cycle = await response.json();

                    details = `
                    <p><strong>Distance:</strong> ${cycle.distance} miles</p>
                    <p><strong>Pace:</strong> ${formatTime(cycle.pace)} / mile</p>
                `;

                }

                else if (activity.category === "Weightlifting") {
                    const response = await fetch(`/weightlifting/${activity.id}`, {
                        headers: authHeaders()
                    });

                    const session = await response.json();

                    // <h4> is a level 4 header (4th largest heading size)
                    // <ul> creates an unordered list (bulleted list)
                    // <li> sets a list item (puts a bullet in front of the item within)
                    // map creates an array
                    // .join joins all elements of the array into a single string
                    details = `
                    <h4>Exercises</h4>
                    <ul>
                        ${session.exercises.map(exercise => `
                            <li>
                                ${exercise.exercise}
                                -
                                ${exercise.weight} lbs
                                x ${exercise.reps} reps
                                x ${exercise.sets} sets
                            </li>
                        `).join("")}
                    </ul>
                `;
                }

                // Math.floor rounds down to the nearest integer
                // a % b gives the remainder when a is divided by b
                // .padstart makes the string have 2 characters starting 
                // with 0 if there is only one character to begin with. 
                function formatTime(totalSeconds) {
                    const hours = Math.floor(totalSeconds / 3600);
                    const minutes = Math.floor((totalSeconds % 3600) / 60)
                    const seconds = Math.floor(totalSeconds % 60)

                    return `${hours}:${String(minutes).padStart(2, "0")}:${String(seconds).padStart(2, "0")}`;
                }

                // Create a div element and store it in the variable card
                const card = document.createElement("div");

                // This defines the html within the div object card
                card.innerHTML = `
                <h3>${activity.category}</h3>

                <p>
                    <strong>Description:</strong> 
                    ${activity.description}
                </p>

                <p>
                    <strong>Duration:</strong> 
                    ${formatTime(activity.duration)}
                </p>

                ${details}

                <button class="button-primary" onclick="editActivity(${activity.id}, '${activity.category}')">
                    Edit
                </button>

                <button class="button-danger" onclick="deleteActivity(${activity.id})">
                    Delete
                </button>
            `;

                // append the div card to the end of the list object
                list.appendChild(card);
            }
        }

        // If bedtime or waketime is not provided, return null
        // Create a variable array [bedtimeHour, bedtimeMinute] 
        // which is equal to an array whose entries are the bedtime hour
        // and bedtime minute. Do the same for wake hour and wake minute.
        // Create a variable bedtimeMinutes which is number of minutes into 
        // the day when bedtime occured. Do the same for wakeMinutes.
        // If wake time was the day after bedtime, then add 24 hours 
        // worth of minutes to wakeMinutes. 
        // Coumpute the total number of minutes asleep and store 
        // as the variable duration.
        // Convert the number of minutes asleep to number of hours and minutes. 
        function calculateSleepLength(bedtime, wakeTime) {
            if (!bedtime || !wakeTime) {
                return null;
            }

            const [bedtimeHour, bedtimeMinute] = bedtime.split(":").map(Number);
            const [wakeHour, wakeMinute] = wakeTime.split(":").map(Number);

            let bedtimeMinutes = bedtimeHour * 60 + bedtimeMinute;
            let wakeMinutes = wakeHour * 60 + wakeMinute;

            if (wakeMinutes <= bedtimeMinutes) {
                wakeMinutes += 24 * 60;
            }

            const duration = wakeMinutes - bedtimeMinutes;

            const hours = Math.floor(duration / 60);
            const minutes = duration % 60;

            return `${hours} hr ${minutes} min`;
        }

        // If timeString is null, return "no data entered".
        // Create an array of variables where the entries are 
        // the hours and minutes from timeString.
        // If hour is greater than or equal to 12, then set period to PM,
        // otherwise, set it as AM. 
        // Set hour12 to be the reaminder of hours divided by 12, but if
        // this gives 0, then set hour12 to be 12. 
        // Return hour12:minute period, where if minute does not have 2 
        // characters, then add 0 to the beginning of it until it is 2 characters.
        function formatTime(timeString) {
            if (!timeString) {
                return "No data entered";
            }

            const [hour, minute] = timeString.split(":").map(Number);

            const period = hour >= 12 ? "PM" : "AM";
            const hour12 = hour % 12 || 12;

            return `${hour12}:${String(minute).padStart(2, "0")} ${period}`;
        }

        async function loadHealth() {

            // Send a request to /health/date/${date} using the default method: GET
            // with authorization headers: authHeaders()
            const response = await fetch(`/health/date/${date}`, {
                headers: authHeaders()
            });

            // The variable container will hold all of the health log information
            const container = document.getElementById("health");

            container.innerHTML = "";

            if (!response.ok) {
                container.innerHTML = `<p>No health information logged on this day.</p>`;
                return;
            }

            const health = await response.json();

            const sleepLength = calculateSleepLength(health.bedtime, health.wake_time);

            const card = document.createElement("div");

            // health.foods?.length means if health.foods exists, calculate its length,
            // and if not, give undefined. 
            // health.foods?.length > 0 ? if health.foods exists, 
            // is the length of health.foods > 0? If yes, do the following, 
            // if not, then do the stuff after the colon.
            card.innerHTML = `

            <p>
                <strong>Notes:</strong> 
                ${health.notes?.trim() || "No notes"}
            </p>

            <p>
                <strong>Calories Consumed:</strong>
                ${health.calories ?? "No data entered"}
            </p>

            <p>
                <strong>Macros</strong>
                <br>
                Fats (g): ${health.fats ?? "No data entered"}
                <br>
                Carbs (g): ${health.carbs ?? "No data entered"}
                <br>
                Protein (g): ${health.protein ?? "No data entered"}
            </p>   
                
            <h4>Foods Eaten</h4>
            
            ${health.foods?.length > 0 ? `
                <ul>
                    ${health.foods.map(food => `
                        <li>
                            <strong>${food.food}</strong>
                            ${health.nutrition_calculation === "food_based" ? `
                            <ul>
                                <li>Calories: ${food.calories ?? "No data entered"}</li>
                                <li>Fats (g): ${food.fats ?? "No data entered"}</li>
                                <li>Carbs (g): ${food.carbs ?? "No data entered"}</li>
                                <li>Protein (g): ${food.protein ?? "No data entered"}</li>
                            </ul>
                            ` : ""}
                        </li>
                    `).join("")}
                </ul>
                `
                    : `<p>No foods entered</p>`
                }

            <p>
                <strong>Water (fl oz):</strong>
                ${health.water ?? "No data entered"} 
            </p>

            <p>
                <strong>Body Weight (lbs):</strong>
                ${health.weight ?? "No data entered"}
            </p>

            <p>
                <strong>Sleep Information</strong>
                <br>
                Bedtime: ${formatTime(health.bedtime)}
                <br>
                Wake Time: ${formatTime(health.wake_time)}
                <br>
                Amount of Sleep: ${sleepLength ?? "Missing bedtime and/or wake time data"}
            </p>


            <button class="button-primary" onclick="editHealthLog(${health.id})">
                Edit
            </button>

            <button class="button-danger" onclick="deleteHealthLog(${health.id})">
                Delete
            </button>
        `;

            container.appendChild(card);

        }

        loadHealth();

        // Redirect to / (Calendar page)
        function changeDate() {

            window.location.href = "/calendar";

        }

        // Redirect to /create-activity/${date} 
        function createActivity() {

            window.location.href =
                `/create-activity/${date}`;

        }

        // Redirect to /create-health-log/${date}
        function createHealthLog() {

            window.location.href =
                `/create-health-log/${date}`;

        }

        // async allows the use of await inside the function.
        // Function takes in an activity id.
        // Confirmed is a variable equal to the choice a user makes.
        // confirm() sends a message to the user and allows input
        // either cancel or ok. 
        // If the user chooses cancel, then end the function. 
        // Otherwise, send a request to /activity/${id} for 
        // a delete method with headers authHeaders()
        // If the response from the request has no errors, 
        // initiate the loadActivities function.
        // Otherwise, set error to be equal to the jsonified response
        // and alert the user with either the error detail, or 
        // if there is no error detail, "Could not delete activity"
        async function deleteActivity(id) {

            const confirmed = confirm("Delete this activity?");

            if (!confirmed) {
                return;
            }

            const response = await fetch(`/activity/${id}`, {

                method: "DELETE",

                headers: authHeaders()

            });

            if (response.ok) {
                loadActivities();
            } else {
                const error = await response.json();
                alert(error.detail || "Could not delete activity");
            }

        }

        // Similar to deleteActivity, but for a health log
        async function deleteHealthLog(id) {

            const confirmed = confirm("Delete this health log?");

            if (!confirmed) {
                return;
            }

            const response = await fetch(`/health/${id}`, {

                method: "DELETE",

                headers: authHeaders()

            });


            if (response.ok) {
                loadHealth();
            }
            else {
                const error = await response.json();
                alert(error.detail || "Could not delete health log");
            }

        }

        // Redirect to /edit-activity/${category.toLowerCase()}/${id}
        function editActivity(id, category) {

            window.location.href =
                `/edit-activity/${category.toLowerCase()}/${id}`;

        }

        // Redirect to /edit-health-log/${id}
        function editHealthLog(id) {

            window.location.href =
                `/edit-health-log/${id}`;

        }

        loadActivities();

    </script>

</body>

</html>