<!DOCTYPE html>
<html>

<head>

    <title>Create Weightlifting Session</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="create-page">

    <div class="page">

        <div class="page-header">

            <h1 id="createWeightliftingSessionTitle"></h1>

            <button type="button" class="logout-button" onclick="logout()">
                Log Out
            </button>

            <button type="button" class="account-button" onclick="account()">
                Account
            </button>

            <div class="date-controls">

                <div class="date-row">

                    <label for="datePicker">
                        Change Date:
                    </label>

                    <input type="date" id="datePicker" required>

                    <button type="Button" onclick="viewCalendarYear()">
                        View Calendar Year
                    </button>

                    <button type="Button" onclick="returnToLogPage()">
                        Return To Daily Log
                    </button>

                    <button type="button" onclick="returnToCategorySelection()">
                        Category Selection
                    </button>

                </div>

            </div>

        </div>

        <form id="weightliftingEntryForm">

            <div class="module create-form-module">

                <div class="form-group">

                    <label for="description">
                        Description
                    </label>

                    <textarea id="description" placeholder="Description"></textarea>

                </div>

                <div class="form-group">

                    <label>Duration</label>

                    <div class="duration-inputs">

                        <input id="hours" type="number" min="0" placeholder="hrs">
                        <span>:</span>
                        <input id="minutes" type="number" min="0" max="59" placeholder="mins">
                        <span>:</span>
                        <input id="seconds" type="number" min="0" max="59" placeholder="secs">

                    </div>

                </div>

            </div>

            <div class="module exercise-module">

                <div class="exercise-section">

                    <h3>Exercises</h3>

                    <div id="exerciseList"></div>

                    <button type="button" class="button-primary" onclick="addExercise()">
                        Add Exercise
                    </button>

                </div>

            </div>

            <div class="form-submit">

                <button type="submit">
                    Create Weightlifting Session
                </button>

            </div>

        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>

    <script>

        const token = localStorage.getItem("access_token");

        if (!token) {
            window.location.href = "/";
        }

        function logout() {
            localStorage.removeItem("access_token");
            window.location.href = "/";
        }

        function account() {
            window.location.href = "/account";
        }

        function authHeaders() {
            const token = localStorage.getItem("access_token");

            if (!token) {
                window.location.href = "/";
                return {};
            }

            return {
                "Authorization": `Bearer ${token}`,
                "Content-Type": "application/json"
            };
        }

        const log_date = window.location.pathname.split("/").pop();

        const datePicker = document.getElementById("datePicker");

        datePicker.value = log_date;

        document.getElementById("createWeightliftingSessionTitle").textContent =
            `Create Weightlifting Session For ${log_date}`;

        datePicker.onchange = function () {
            window.location.href = `/create-activity/weightlifting/${this.value}`;
        };

        function viewCalendarYear() {
            window.location.href = `/calendar`
        }

        function returnToLogPage() {
            window.location.href = `/calendar/${log_date}`
        }

        function returnToCategorySelection() {
            window.location.href = `/create-activity/${log_date}`
        }

        function addExercise() {

            const container = document.getElementById("exerciseList");

            const div = document.createElement("div");

            div.className = "exercise";

            div.innerHTML = `
            <div class="dragHandle">⠿</div>

            <div class="exercise-inputs">

                <input class="exerciseName" placeholder="Exercise" required>

                <input class="exerciseWeight"
                        type="number"
                        step="0.5"
                        placeholder="Weight (lbs)">

                <input class="exerciseReps"
                        type="number"
                        placeholder="Reps">

                <input class="exerciseSets"
                        type="number"
                        placeholder="Sets">

            </div>

                <button type="button" class="button-danger"
                        onclick="this.parentElement.remove()">
                    Remove
                </button>
        `;

            container.appendChild(div)

        }

        addExercise();

        new Sortable(document.getElementById("exerciseList"), {
            animation: 150,
            handle: ".dragHandle"
        });

        document.getElementById("weightliftingEntryForm").onsubmit = async function (e) {

            e.preventDefault();

            const description = document.getElementById("description").value

            const hours = Number(document.getElementById("hours").value || 0);

            const minutes = Number(document.getElementById("minutes").value || 0);

            const seconds = Number(document.getElementById("seconds").value || 0)

            const duration = hours * 3600 + minutes * 60 + seconds;

            const exercises = [];

            document.querySelectorAll(".exercise").forEach(div => {

                exercises.push({
                    exercise: div.querySelector(".exerciseName").value,
                    weight: Number(div.querySelector(".exerciseWeight").value),
                    reps: Number(div.querySelector(".exerciseReps").value),
                    sets: Number(div.querySelector(".exerciseSets").value)
                });

            });

            const response = await fetch(`/weightlifting/`, {

                method: "POST",

                headers: authHeaders(),

                body: JSON.stringify({

                    log_date: log_date,
                    description: description,
                    duration: duration,
                    exercises: exercises

                })

            });

            if (response.ok) {
                window.location.href = `/calendar/${log_date}`;
            } else {
                const error = await response.json();
                alert(error.detail || "Could not create activity.");
            }
        }
    </script>

</body>

</html>